<h1>Edit an existing task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
   <%= f.label :details %>
  <%= f.text_field :details %>
  <br>
  <%= f.submit %>
<% end %>
<%= link_to "Edit", tasks_path %>
